{% include "navbar.html" %}
{% load static %}
{% load widget_tweaks %}
{% block headcontent %}
<html lang="es">
	<link rel="stylesheet" href="/static/css/style.css">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <form method="get">
{% endblock %}
<div class ="left">
<div class="col-5">
 <div class="form-group ">
     {{ filter.form.nombre.label_tag }}
     {% render_field filter.form.nombre class="form-control" %}
        </div>
<div class="col-5">
   <div class="form-group ">
         {{ filter.form.objeto.label_tag }}
         {% render_field filter.form.objeto class="form-control" %}
        </div>
        </div>
<div class="checkbox">
     <div class="col-5">
          {{ filter.form.material.label_tag }}
          {% render_field filter.form.material class="form-control" %}
        </div>
        </div>
      <div class="col-5">
          {{ filter.form.seccion.label_tag }}
          {% render_field filter.form.seccion class="form-control" %}
          </div>
          {{ filter.form.serie.label_tag }}
          {% render_field filter.form.serie class="form-control" %}
        </div>
         <div class="col-5">
          {{ filter.form.depositado.label_tag }}
          {% render_field filter.form.depositado class="form-control" %}
          </div>
 </form>
<button class="button button1"  class="btn btn-primary btn-md">Buscar</button></a></p>
      </div>
      </div>  
      </div>
      </div>
</div>
<div class="container">
<div class="right">
<table class="sortable" width="50 %">
	  <tr>
    <th>Número de inventario</th>
    <th>Nombre del objeto</th>
    </tr>
  <tr>{% for objeto in filter.qs %}
     <td> {{ objeto.codigo }}{{ objeto.numinv }} <a href="/arqueologia/{{ objeto.pk }}"><img src="/static/img/see.png" width="30" height="30" alt="Detalles"/></a></td>
    <td>{{ objeto.nombre }}</td>
</tr>
  {% endfor %}
  </table>
  </div>
  </div>
  </div>
  </div>
  </body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{%static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
</html>

