{% include "navbar.html" %}
{% load static %}
<h1>{{ instance.propietario }}{{ instance.numinv }}</h1>
<div class="left">
<div class="table-responsive">
    <tr>
   <td> <img src="{{ instance.anverso.url }}" width="240"></td>
   <td> <img src="{{ instance.reverso.url }}" width="240"></td>
   </tr>
   </table>
<b><p>Nombre:</b>{{ instance.nombre }}</p>
   </div>
   </div>
<div class="container">
<div class="right">
<b>Edad: </b><p>{{ instance.edad }}</p>
<b>Descripción:</b><p><p>{{ instance.descripcion }}</p>
<b>Cultura:</b><p><p>{{ instance.cultura }}</p>
<b>Tamaño:</b> <p>{{ instance.altura }} cm x {{ instance.ancho }} cm</p>
<b>Ubicación</b><p>{{ instance.ubicacion }}</p>
<b>Hallazgos:</b><p><p>{{ instance.hallazgos }}</p>
<b>Encontrado en:</b><p>{{ instance.yacimiento }}</p>
<b>Materiales:</b><p>{% for material in instance.material.all %}<li>{{ material.nombre }}</li></p>
{% endfor %}
<b>Bibliografía y referencias</b><p>{% if bibliografia == None %}
No hay referencias.
{% else %}
{% endif %}
{% for bibliografia in instance.bibliografia.all %}
<p>Autor: {{ bibliografia.autor }}</p>
<p>Edición: {{ bibliografia.edicion }}</p>
<p>Referencia: <a>{{ bibliografia.url }} </a></p>
{% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{%static '/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>

