{% include "navbar.html" %}
{% load static %}
<!-- jQuery library (served from Google) -->
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script><!-- This is where to put the location of the jquery library you intend to use-->
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<h1>{{ instance.propietario }}{{ instance.numinv }}</h1>
<div class="left">
<div class="table-responsive">
    <tr>
   <td> <img src="{{ instance.anverso.url }}" width="240"></td>
   <td> <img src="{{ instance.reverso.url }}" width="240"></td>
   </tr>
   </table>
   </div>
{{ instance.titulo }}
</div> 
</div> 
<div class ="container">
<div class="right">
<p><b>Autor:</b>{{ instance.autor }}</p>
<p><b>Descripción:</b>{{ instance.descripcion }}</p>
<p><b>Iconografía</b>{{ instance.iconografia }}</p>
<p><b>Adquirido por:</b>{{ instance.adquirido }}</p>
<p><b>Tamaño:</b>{{ instance.altura }} cm x {{ instance.ancho }} cm</p>
<p><b>Ubicación</b>{{ instance.ubicacion }}</p>
<p><b>Soporte</b>{% for soporte in instance.soporte.all %}<ul>{{ soporte.nombre }}</ul></p>
{% endfor %}
<p><b>Técnica</b>{% for tecnica in instance.tecnica.all %}<ul>{{ tecnica.nombre }}</ul></p>
{% endfor %}
<p><b>Bibliografía y referencias</b>{% if bibliografia == None %}
No hay referencias.
{% else %}
{% endif %}
{% for bibliografia in instance.bibliografia.all %}
<p>Autor: {{ bibliografia.autor }}</p>
<p>Edición: {{ bibliografia.edicion }}</p>
<p>Referencias: <a>{{ bibliografia.url }} </a></p>
{% endfor %}
</p>
</div>
</div>
<div class ="container">
<h1>Informes realizados</h1>
<table class="sortable">
<tr>  
<th>Fecha</th> 
<th>Prioridad</th> 
<th>Detalles</th> 
<th>Añadir intervención</th> 
<th>Editar intervención</th> 
</tr>
<tr>
{% for estado in estado %} 
<td>{{ estado.fecha }} </td>    
<td>{{ estado.prioridad }} </td>
<td>Ver informe<a href="/estado/{{ estado.id }}/"><img src="/static/img/status.png" width="30" height="30" alt="Detalles"/></td></a>
<td>Añadir intervención al informe<a href="/registrarintervencion/{{ estado.id }}"><img src="/static/img/add.png" width="30" height="30" alt="Añadir intervención"/></td></a>
<td>Editar informe de estado<a href="/estadoactualizar/{{ estado.id }}"><img src="/static/img/edit.png" width="30" height="30" alt="Añadir intervención"/></td></a>
</tr>
{% endfor %}
</table>
</div>
</div>
<p>Crear un nuevo informe<a href="/registrarestado/{{ instance.pk }}"><img src="/static/img/status.png" width="30" height="30" alt="Detalles"/></a></p> 

<!-- For this to work, the files need to be labeled with numbers (slideNumber1.png, slideNumber2.png, etc); I have successfully used numbers and letters (tn_1a.jpg, tn_2b.jpg, etc);  however, you can't use the same numbers (NOT tn_1a.jpg, tn_1b.jpg) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    </script> 
  </body>
</html>
