{% include 'navbar.html' %}
{% load static %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{%static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
      </body>
          <div class="container">
<div class="left">      
     <h1>Ultimos informes realizados:</h1>
          <table class="sortable">
 <th>Número de inventario</th>
         <th>Ver</th>
         <th>Editar</th>
     {% for ultimos in ultimosinfo.all %}
     <tr>
   <td>{{ ultimos.objeto.codigo }}{{ ultimos.objeto.numinv }}</td>
  <td>Ver informe<a href="/informearqueo_ver/{{ ultimos.id }}"><img src="/static/img/status.png" width="30" height="30" alt="Detalles"/></td></a>
<td>Editar informe<a href="/informearqueo_actu/{{ ultimos.id }}"><img src="/static/img/edit.png" width="30" height="30" alt="Añadir intervención"/></td></a>
      </tr>
      </table>
 {% endfor %}             
          </div>
    </div>
      </div>
</html>
