{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Museografía</title>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
<link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
</head>
<div class="wrap">
<div class="avatar">
<img src="http://www.clker.com/cliparts/2/e/2/4/12428013961588839005Phoenician_aleph.svg.med.png">
</div>
<div class="card">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{% block login %}
<td>Nombre </td>
<td>{{ form.username }}</td>
<div class="bar">
<i></i>
</div>
 <td>Contraseña</td>
<td>{{ form.password }}</td>
<p>
<center>
<button class="button button1">Iniciar sesión</button>
</center>
</label>
<input type="hidden" name="next" value="{{ next }}" /></p>
</form>
</div>
</div>
</div>
<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>
{% endblock %}


