{% include "navbar.html" %}
{% load static %}
<!-- jQuery library (served from Google) -->
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script><!-- This is where to put the location of the jquery library you intend to use-->
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<div class="container">
<a href="#" onclick="history.go(-1)"><img src="/static/img/back.jpg" width="30" height="30" alt="Atrás"/></td></a></a>
<table class="table">
    </table>
    {% for datos in datos %}
      <b><h3>Revisión colección expuesta</h3></b>
<p><b>Nombre restaurador:</b>{{ instance.nombre_res }}</p>
<p><b>Apellido restaurador:</b>{{ instance.ape_res }}</p>
<p><b>Ubicación:</b>{{ datos.ubicacion }}</p>
<div class="container">
<table class="table">
  <b><h3>Descripción de la obra</h3></b>
<tr>
<th>Fecha</th>
<th>Número de inventario</th>
<th>Título</th>
<th>Autor</th>
<th>Cronología</th>
<th>Técnica</th>
<th>Dimensiones</th>
<th>Historia material</th>
</th></tr>      
<tr>
<td>{{ instance.fecha }}</td>
<td>{{ datos.codigo }}{{ datos.numinv }}</td>
<td>{{ datos.titulo }}</td>
<td>{{ datos.autor }}</td>
<td>{{ datos.datacion }}</td>
{% for tecnica in datos.tecnica.all %}
<td>{{ tecnica.nombre }}</td>
{% endfor %}
<td>{{ datos.altura }}cm x {{ datos.ancho }} cm </td>
<td></td>
</tr>
</table>
</div>
</div>
<p align="center"><img src="{{ datos.anverso.url }}" width="240px"><img src="{{ datos.reverso.url }}" width="240px"></p>
<div class="container">
    {% endfor %}
<table class="table">
  <b><h3>Características del examen</h3></b>
<tr>
<th>Sala</th>
<th>Estudios</th>
<th>Observaciones</th>
</th></tr>
<tr>
<td>Características de la sala</td>
{% for estudio in instance.estudio.all %}
<td>{{ estudio.nombre }}</td>
{% endfor %}
<td>{{ instance.observaciones }}</td>
</table>
</div>  
<div class="container">
<h3>Descripción del estado de conservacion</h3>
<p><b>Marco:</b> {{ instance.marco }}</p>
<p><b>Obra: </b> {{ instance.obra }}</p>
</div>
<div class="container">
<h3>Conclusiones</h3>
<p><b>Conlusión: </b> {{ instance.conclusion }}</p>
<p><b>Propuesta de intervención: </b> {{ instance.propuesta }}
<p><b> Nivel de prioridad:</b> {{ instance.prioridad }} </p>
</div>
<div class="container">
{% for inter in intervencion %}
    <h3>Intervenciones</h3>
    <h2>Intervencion {{ inter.fecha }}</h2>
<p><b>Tipo de intervención: </b> {{ inter.tipo }}</p>
<p><b>Criterios: </b> {{ inter.criterios }}
<p><b> Descripción:</b> {{ inter.descripcioninter }} </p>
<p><b> Descripción:</b> {{ inter.recom }} </p>
{% endfor %}
<!-- For this to work, the files need to be labeled with numbers (slideNumber1.png, slideNumber2.png, etc); I have successfully used numbers and letters (tn_1a.jpg, tn_2b.jpg, etc);  however, you can't use the same numbers (NOT tn_1a.jpg, tn_1b.jpg) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
