{% include "navbar.html" %}
{% load static %}
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
</head>
<div class="container">
{% for datos in datos %}
    <h1><a href="#" onclick="history.go(-1)"><img src="/static/img/back.jpg" width="30" height="30" alt="Atrás"/></td></a></a>
Informe de {{ datos.codigo }}{{ datos.numinv }}</h1>
<table class="table">
      <b><h3>Revisión de arqueología</h3></b>
<p><b>Nombre restaurador:</b>{{ instance.nombre_res }}</p>
<p><b>Apellido restaurador:</b>{{ instance.ape_res }}</p>
<p><b>Ubicación:</b>{{ datos.ubicacion }}</p>
</div>
</div>
<div class="container">
<table class="table">
<h1>Descripción</h1>
<th>Número de inventario</th>
<th>Nombre</th>
<th>Cronología</th>
<th>Composicion</th>
<th>Origen</th>
<th>Tipología</th></tr>      
<tr>
<td>{{ datos.numinv }}</td>
<td>{{ datos.nombre }}</td>>
<td>{{ datos.datacion }}</td>
{% for material in datos.material.all %}
<td>{{ material.nombre }}</td>
{% endfor %}
<td>{{ datos.yacimiento }}</td>
<td>{{ datos.seccion }}</td>
</tr>
</table>
<p align="center"><img src="{{ datos.anverso.url }}" width="240px"><img src="{{ datos.reverso.url }}" width="240px"></p>{% endfor %}
</div>
</div>
<p><b>Proyecto de intervención:</b>
{{ instance.proyecto }}

<p><b>Diagnóstico:</b>
{{ instance.diagnostico }}</p>
</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
